* {
    padding: 0px;
    margin: 0px;
}
/*Контент*/
.content {
    margin: 150px 150px 150px 150px;
    background-color: #f8f8f8;
    width: 1500px;
    height: 3365px;
}
/*Шапка*/
.header {
    width: 1500px;
    height: 700px;
    background-color: #abeafa;
}
.logo {
    margin-left: 234px;
    margin-top: 24px;
    float: left;
}
/*Ссылки в соцсетях*/
.social {
    display: inline;
    float: right;
    margin-right: 229px;
    margin-top: 50px;
}
.social a {
    color: white;
    padding: 4px 4px 4px 4px;
}
/*Блок предложения покупки в голове*/
.header_buynow {
    float: right;
    width: 313px;
    height: 169px;
    margin-right: 274px;
    margin-top: 108px;
    clear: both;
}
.buynow_h {
    font: 900 48px / 34px Raleway; /*TODO ? НЕДОСТАТОЧНО ЖИРНЫЙ*/
    color: #fff51f;
}
.buynow_p {
    font: 400 18px / 24px Raleway;
    color: #fff51f;
}
/*Блок приветсвия*/
.header_welcome {
    position: absolute; /*TODO ИЗБАВИТЬСЯ ОТ АБСОЛЮТА*/
    width: 270px;
    height: 300px;
    background: #fff51f;
    margin-left: 165px;
    margin-top: 336px;
}
.welcome_h {
    position: relative;
    margin-left: 25px;
    margin-top: 82px;
    text-transform: uppercase;
    font: 700 30px / 30px Raleway;
}
.welcome_p {
    position: relative;
    margin-left: 22px;
    margin-top: 24px;
    font: 700 18px / 14px Raleway;
    font-style: italic;
}
/*Меню*/
.menu {
    margin-left: 165px;
    margin-top: 545px;
    float: left;
}
.menu_h {
    background-color: #333333;
    width: 270px;
    height: 66px;
}
.menu_h_text {
    font-family: Roboto;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    float: left;
    display: inline;
    margin-left: 42px;
    margin-top: 20px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.menu_li {
    display: block;
    width: 270px;
    height: 43px;
    background-color: #26d2fc;
    font-family: Roboto;
    color: #000000;
    font-size: 14px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    text-decoration: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.menu > li{
    list-style: none;
}
.menu_li_text {
    display: inline;
    margin-left: 40px;
    margin-top: 5px;
    float: left;
    text-transform: uppercase;
}
.menu_li:hover {
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
}
.menu_li_4:hover .menu_hide_4 {
    display: block;
}
/*Скрытое меню*/
/*Скрытое меню рядом с 4м блоком*/
/*.menu_hide_4{*/
    /*display: none;*/
    /*margin-top: 740px;*/
    /*float: left;*/
/*}*/
/*.menu_li_hide_lvl1 {*/
    /*display: block;*/
    /*width: 270px;*/
    /*height: 43px;*/
    /*background-color: #26d2fc;*/
    /*font-family: Roboto;*/
    /*color: #000000;*/
    /*font-size: 14px;*/
    /*font-weight: 900;*/
    /*line-height: 36px;*/
    /*text-align: left;*/
    /*text-decoration: none;*/
/*}*/
.menu_hide_4 {
    display: none;
    margin-left: 270px;
    width: 155px;
    height: 162px;
    padding-left: 40px;
    background-color: #75e3fe;
}
.menu_hide_4 > li {
    font-family: Roboto;
    color: #000000;
    font-size: 14px;
    font-weight: 900;
    line-height: 36px;
    margin-bottom: 5px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    list-style: square;
}
.menu_hide_4 > li:hover:after { /*todo Изменить размеры контента, попробовать через бекграунд*/
    content: url("../images/arrow.png");
}
/*Витрина*/
.showcase {
    margin-left: 465px;
    margin-top: -15px;
    background-color: #f8f8f8;
    width: 870px;
    height: 724px;
}
/*Новые продукты*/
.new_products {
    width: 870px;
}
.new_products_header {
    font-family: Roboto;
    color: #707070;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    margin-left: 25px;
    padding-top: 28px;
}
.sc_img {
    border: 10px solid #ffffff;
    float: left;
    width: 250px;
    height: 235px;
    margin-left: 25px;
    margin-top: 31px;
}
/*Подвал*/
/*Блок брендов*/
.brand {
    background-color: #ffffff;
    width: 1170px;
    height: 160px;
    margin-left: 165px;
}
.instagram_feed {
    background-color: #eaeaea;
    width: 1170px;
    height: 350px;
    margin-left: 165px;
}
.facebook_block {
    display: block;
    background-color: #3b5997;
    float: left;
    color: #ffffff;
    padding: 35px 173px 35px 172px;
    margin-left: 165px;
}
.twitter_block {
    display: block;
    background-color: #3fccfd;
    float: left;
    color: #ffffff;
    padding: 35px 158px 35px 158px;
}
.pinterest_block {
    display: block;
    background-color: #cb2027;
    float: left;
    color: #ffffff;
    padding: 35px 166px 35px 166px;
}