/*@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Black.ttf);
}*/
* {
    padding: 0px;
    margin: 0px;
}
/*Низкое разрешение экрана*/
.low_resolution {
    display: none;
    background-color: #26d2fc;
}
/*Контент*/
.content {
    background-color: #f8f8f8;
    max-width: 1500px;
    height: auto;
}

/*Шапка*/
.header {
    max-width: 1500px;
    height: 700px;
    background-color: #abeafa;
    background-image: url("../images/shelf.jpg");
}
.logo {
    -webkit-transition-duration: 0.4s;
    margin-left: 234px;
    margin-top: 24px;
    height: 111px;
    float: left;
}
/*Ссылки в соцсетях*/
.social {
    -webkit-transition-duration: 0.4s;
    display: inline;
    float: right;
    margin-right: 229px;
    margin-top: 50px;
}
.social a {
    color: white;
    padding: 4px 4px 4px 4px;
}
/*Блок предложения покупки в голове*/
.header_buynow {
    float: right;
    width: 313px;
    height: 169px;
    margin-right: 274px;
    margin-top: 108px;
    clear: both;
}
.buynow_h {
    font: 900 48px / 34px 'Roboto', sans-serif; /*TODO ? НЕДОСТАТОЧНО ЖИРНЫЙ*/
    color: #fff51f;
}
.buynow_p {
    font: 400 18px / 24px 'Roboto', sans-serif;
    color: #fff51f;
}
.buynow_button {
    background-color: #fff51f;
    width: 124px;
    height: 49px;
    margin-top: 62px;
    margin-left: 3px;
}
.buynow_button_text {
    font-family: 'Russo One', sans-serif;
    margin-left: 8px;
    margin-top: 15px;
    float: left;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
/*Блок приветсвия*/
.header_welcome {
    float: left;
    width: 270px;
    height: 300px;
    background: #fff51f;
    margin-left: 165px;
    margin-top: 201px;
}
.welcome_h {
    position: relative;
    margin-left: 25px;
    margin-top: 72px;
    text-transform: uppercase;
    font: 700 30px / 30px 'PT Serif Caption', serif;
}
.welcome_p {
    position: relative;
    margin-left: 22px;
    margin-right: 10px;
    margin-top: 24px;
    font: 300 18px / 14px 'Pattaya', sans-serif;
    font-style: italic;
}
/*Меню*/
.menu {
    margin-left: 165px;
    margin-top: -15px;
    float: left;
}
.menu_h {
    background-color: #333333;
    width: 270px;
    height: 66px;
}
.menu_h_text {
    font-family: Roboto;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    float: left;
    display: inline;
    margin-left: 42px;
    margin-top: 20px;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.menu_li {
    display: block;
    width: 270px;
    height: 43px;
    background-color: #26d2fc;
    font-family: Roboto;
    color: #000000;
    font-size: 14px;
    font-weight: 900;
    line-height: 36px;
    text-align: left;
    text-decoration: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.menu > li{
    list-style: none;
}
.menu_li_text {
    display: inline;
    margin-left: 40px;
    margin-top: 5px;
    float: left;
    text-transform: uppercase;
}
.menu_li:hover {
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
}
.menu_li_4:hover .menu_hide_4 {
    display: block;
}
/*Скрытое меню*/
/*Скрытое меню рядом с 4м блоком*/
/*.menu_hide_4 {*/
    /*position: relative;*/
    /*z-index: 1;*/
    /*display: none;*/
    /*margin-left: 270px;*/
    /*width: 155px;*/
    /*height: 162px;*/
    /*padding-left: 40px;*/
    /*background-color: #75e3fe;*/
/*}*/
/*.menu_hide_4 > li {*/
    /*position: relative;*/
    /*z-index: 1;*/
    /*font-family: Roboto;*/
    /*color: #000000;*/
    /*font-size: 14px;*/
    /*font-weight: 900;*/
    /*line-height: 36px;*/
    /*margin-bottom: 5px;*/
    /*text-align: left;*/
    /*text-transform: uppercase;*/
    /*text-decoration: none;*/
    /*list-style: square;*/
/*}*/
/*.menu_hide_4 > li:hover:after { !*todo Изменить размеры контента, попробовать через бекграунд*!*/
    /*content: url("../images/arrow.png");*/
/*}*/
/*Витрина*/
.showcase {
    display: flex;
    margin-left: 465px;
    margin-top: -15px;
    background-color: #f8f8f8;
    width: 58%;
    height: 724px;
    padding-bottom: 125px;
}
/*Новые продукты*/
.new_products, .breadcrumbs_block {
    width: 900px;
}
.new_products_header, .products_header {
    font-family: Roboto;
    color: #707070;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-align: left;
    padding-top: 28px;
}
.item_box {
    margin-left: -30px;
}
.sc_item {
    position: relative;
    background-color: #ffffff;
    float: left;
    width: 270px;
    height: 367px;
    margin-left: 30px;
    margin-top: 30px;
    z-index: 0;
}
.new_products_header .sc_firtst_item {
    margin-left: 25px;
    margin-top: 31px;
}
.sc_img {
    width: 250px;
    height: 267px;
    margin-left: 10px;
    margin-top: 10px;
}
.sc_text {
    float: left;
    font-family: Roboto;
    color:  #333333;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    line-height: 18.012px;
    text-align: left;
    margin-left: 16px;
    margin-top: 19px;
}
.sc_cost {
    float: right;
    font-family: Roboto;
    color: #333333;
    font-size: 18px; /* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    font-style: italic;
    text-align: right;
    margin: 27px 14px 40px;
}
/*Подвал*/
/*Блок брендов*/
.brand {
    background-color: #ffffff;
    width: 1170px;
    height: 160px;
    margin-left: 165px;
    margin-top: 30px;
}
.instagram_feed {
    background-color: #eaeaea;
    width: 1170px;
    height: 350px;
    margin-left: 165px;
}
.facebook_block {
    display: block;
    background-color: #3b5997;
    float: left;
    color: #ffffff;
    padding: 35px 173px 35px 172px;
    margin-left: 165px;
}
.twitter_block {
    display: block;
    background-color: #3fccfd;
    float: left;
    color: #ffffff;
    padding: 35px 158px 35px 158px;
}
.pinterest_block {
    display: block;
    background-color: #cb2027;
    float: left;
    color: #ffffff;
    padding: 35px 166px 35px 166px;
}
.upper_footer {
    background-color:  #373737;
    width: 1500px;
    height: 348px;
    margin-top: 150px;
}
.lower_footer {
    background-color: #333333;
    width: 1500px;
    height: 47px;
    margin-top: 301px;
    float: left;
}
/*Каталог*/
/*Шапка каталога*/
.catalog_header {
    width: 1500px;
    height: 350px;
    background-color: #abeafa;
}
/*Хлебные крошки*/
.breadcrumbs {
    font-family: Roboto;
    color: #989898;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 3px;
    text-decoration: none;
}
.breadcrumbs_now {
    font-family: Roboto;
    color: #989898;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 3px;
    background-color: #faef03;
    text-decoration: none;
}
.quotes {
    font-family: Roboto;
    color: #989898;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    padding: 3px;
}
/*Витрина каталога*/
.catalog_showcase {
    margin-left: 465px;
    background-color: #f8f8f8;
    width: 900px;
    height: 724px;
}
/*Меню каталога*/
.catalog_menu {
    margin-left: -194px;
    margin-top: 350px;
    float: left;
}
/*Подвал каталога*/
.catalog_facebook_block {
    display: block;
    background-color: #3b5997;
    float: left;
    color: #ffffff;
    padding: 35px 173px 35px 172px;
    margin-left: 165px;
    clear: left;
}
.catalog_upper_footer {
    background-color:  #373737;
    width: 1500px;
    height: 348px;
    margin-top: 150px;
    clear: both;
}
.catalog_menu > li{
    list-style: none;
}
/*Страница товара*/
.product_place {
    margin-left: 4px;
    margin-top: 53px;
}
/*Картинка*/
.product_img {
    float: left;
    height: 370px;
}
/*Название продукта*/
.product_h {
    margin-left: 284px;
    margin-top: 5px;
    font-family: Roboto;
    color: #353535;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}
/*Цена*/
.product_cost {
    margin-left: 283px;
    margin-top: 53px;
    font-family: Roboto;
    color:  #111111;
    font-size: 21.99px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
}
/*Короткое описание*/
.product_discription {
    margin-left: 283px;
}
.short-discription {
    font-family: Roboto;
    color: #707070;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
.short-discription_h {
    font-family: Roboto;
    color: #353535;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    text-transform: uppercase;
}
/*Линии*/
.product_line {
    color: #e4e4e4;
    width: 390px;
    height: 1px;
    margin: 27px 0 24px 75px;
    width: 390px;
    height: 1px;
}
/*Кнопка добавления в корзину*/
.add_to_cart {
    background-color:  #fb4d01;
    width: 130px;
    height: 48px;
    margin-left: 410px;
    margin-top: 20px;
    font-family: Roboto;
    color: #ffffff;
    font-size: 15.99px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    transform: scaleY(1.0008);
}
/*Подробное описание*/
.detail-discription {
    margin-top: 236px;
}
.detail-discription_h {
    background-color: #26d2fc;
    width: 160px;
    height: 35px;
    font-family: Roboto;
    color: #333333;
    font-size: 10.91px;
    font-weight: 400;
    text-align: left;
    transform: scaleY(1.1);
}
.detail-discription_p {
    font-family: Roboto; /*Должен был быть Verdana, но это платный шрифт*/
    color: #808080;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    border: 1px solid #d6d4d4;
    margin-right: 165px;
}
/*"Вам так же может понравиться"*/
.might_like {
    margin: 100px 0 0 0;
}
.might_like_h {
    font-family: Raleway;
    font-style: italic;
    color: #333333;
    font-size: 30px;
    font-weight: 700;
    text-align: left;
    margin: 0px 0 34px 5px;
}
/*Эффекты*/
.effect:hover{
    -webkit-transition-duration: 0.5s;
    -webkit-box-shadow:0px 0px 30px #000000;
}
.fa_effect:hover {
    -webkit-transition-duration: 0.4s;
    color: #fff51f;
}
/*Медиазапросы*/
@media screen and (max-width: 1110px){
    .showcase {
        -webkit-transition-duration: 0.4s;
        margin-left: 165px;
        margin-top: 137px;
        width: 800px;
    }
}
@media screen and (max-width: 1325px){
    .header_welcome {
        display: block;
        margin-left: -110px;
    }
    .header_buynow {
        display: none;
    }
}
@media screen and (max-width: 1060px) {
    .social {
        -webkit-transition-duration: 0.4s;
        margin-right: 10px;
    }
}
@media screen and (max-width: 768px) {
    .logo {
        -webkit-transition-duration: 0.4s;
        margin-left: 60px;
    }
    .showcase {
        -webkit-transition-duration: 0.4s;
        width: 270px;
    }
}
@media screen and (max-width: 465px) {
    .menu, .showcase {
        -webkit-transition-duration: 0.4s;
        margin-left: 30px;
    }
}
@media screen and (max-width: 332px) {
    .header_welcome {
        display: none;
    }
    .social {
        display: none;
    }
}
@media screen and (max-width: 319px){
    .low_resolution, .html {
        display: block;
        width: 320px;
        height: 480px;
    }
    .low_resolution {
        background-image: url(../images/cat.jpg);
    }
    .low_resolution p {
        float: left;
        margin: 166px 30px 0 30px;
        text-align: center;
        font: 300 20px / 50px 'PT Serif Caption', serif;
        color: azure;
    }
    .content, .footer {
        display: none;
    }
}